// Variables
$main-color: #e3e8ee;
$light-color: #fff;
$dark-color: #333;
$highlight-color: mediumslateblue;
$link-color: coral;
$website-width: 860px;
$tight-width: 960px;
$serif-font: "Playfair Display SC", serif;
$sans-serif-font: "Work Sans", sans-serif;
