// Layout

.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
}

.bottom-line {
  margin: auto;
  background-color: black;
  height: 1px;
  width: 97%;
}

.bottom-line-small {
  margin: auto;
  background-color: black;
  height: 1px;
  width: 5vw;
  margin: 1rem auto;
}

.py-1 {
  padding: 1rem;
}
.py-2 {
  padding: 2rem;
}
.py-3 {
  padding: 3rem;
}
.py-4 {
  padding: 4rem;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-between;
  margin: 1rem 1rem;
}

.hidden {
  display: none;
}
// Style
.border-all {
  border: 1px solid $dark-color;
}

blockquote {
  border-left: solid 2px $main-color;
  margin: 2rem 0;
  padding-left: 2rem;
  font-style: oblique;
  font-size: 1.4rem;
}

// Text

h1 {
  font-family: $serif-font;
}
h2 {
  font-family: $sans-serif-font;
}

.text-center {
  text-align: center;
}

// Reusable Elements

.text-input {
  border: none;
  border-bottom: 1px solid $dark-color;
  font-family: $sans-serif-font;
  font-size: 1.2rem;
  resize: none;
  overflow: hidden;

  &:focus {
    background-color: $main-color;
    outline: none;
  }

  &:hover {
    border-color: $main-color;
  }
}

.chevron-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  border: none;
  background: $main-color;
  text-align: center;
  width: 250px;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: $dark-color;
    color: $light-color;
  }
}

// NEW
.card {
  border: 1px black solid;
  display: flex;
  margin: auto;
  height: Max(15vw, 100px);
  transition: all 0.2s;

  &-normal {
    background-color: white;
    margin-bottom: 3rem;
    font-size: Max(1.2rem, 1vw);

    .card-subtitle {
      font-size: 1.2rem;
      font-style: italic;
    }

    .card-title {
      font-weight: bold;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    padding-left: 1rem;
  }

  img {
    object-fit: cover;
    width: 33%;
    border-right: 1px solid $dark-color;
  }

  .card:hover {
    transform: scale(1.02);
    background-color: $main-color;
  }
}
