{% extends "base.html" %}

{% block content %}
    <!-- Section B: Contact form -->
    <section id="message-form">
      <div class="container">
        <h1>Comments? Drop me a line</h1>
          <form action="POST" method="POST" data-netlify="true" name="contact">
            <div class="form-container">
              <input
                type="text"
                class="text-input name-input"
                placeholder="Name"
                required="True"
              />
              <input
                type="email"
                name="email"
                id="email"
                class="text-input email-input"
                placeholder="Email"
                required="True"

              />
              <textarea
                class="text-input message-input"
                oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                name="message"
                id="message"
                cols="1"
                rows="1"
                placeholder="Type your message here"
                required="True"

              ></textarea>
            </div>
            <button class="btn" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>

    <div id="additionalcontact">
      <div class="container">
        <h3>Want another way? Contact me using the links below</h3>
        <div class="chevron-container">
          <i class="fas fa-chevron-down fa-2x"></i>
        </div>
      </div>
    </div>
    </div>
{% endblock %}