

<!-- Section A: Blogs -->

<div id="main-content">
  <div class="flex-container">
    <!-- Recent Posts -->
    <section id="recent-posts">
      <div class="posts-container">
        <h2 class="posts-title">Recent Posts</h2>
        {{ generatePostCard('005_WebPage', size='normal') | safe }}
        {{ generatePostCard('006_ISSTracker', size='normal') | safe }}
      </div>
    </section>

    <!-- About me -->
    <div class="bottom-line hidden"></div>
    <aside id="about">
      <div class="aboutme-container">
        <img src="./static/img/card3.jpg" class="aboutme-img" alt="" />
        <h2>About Me</h2>
        <p>My name is Josh.</p>
        <p>
          I'm a 29 year old ex-astronomer turned wind turbine data engineer.
        </p>
        <p>I like making things, be they electronics, new code tools, or
          simply fun toys to play around with.</p>
        </p>
        <div class="bottom-line-small"></div>
        <h2>Things I'm currently interested in</h2>
        <ul>
          <li>Electronics & Arduino-like projects</li>
          <li>Web Development</li>
          <li>Cloud Computing</li>
          <li>Machine Learning</li>
          <li>Music Theory</li>
        </ul>
        <div class="bottom-line-small"></div>
        <a href="contact.html">If you'd like to know more, get in touch!</a>
      </div>
    </aside>
  </div>
</div>